
/*--- ----------------------------------------*/
/*  Keyframes / Spin
/*--- ----------------------------------------*/

@keyframes keyframe-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes keyframe-translate-x {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes keyframe-translate-y {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}


/*--- ----------------------------------------*/
/*  Root Stylings
/*--- ----------------------------------------*/

html {
    overscroll-behavior: none;
    @apply bg-gray-50 text-gray-900;

    &.dark {
        @apply bg-gray-800 text-gray-300;
    }
}

html body {
    @apply relative;
    height: -webkit-fill-available;
    -webkit-text-size-adjust: none;

    @supports (height: 100svh) {
        height: 100svh;
    }
}

/*--- ----------------------------------------*/
/*  Animation
/*--- ----------------------------------------*/

.animate-rotate {
    animation: keyframe-rotate 1s linear 0ms infinite;
}
