
/*--- ----------------------------------------*/
/*  Keyframes / Spin
/*--- ----------------------------------------*/

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes translateX {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

@keyframes translateY {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(100%);
    }
}
